.vit-login_buttons {
    button {
        color: #1DA1F2;
        box-sizing: border-box;
        height: 40px;
        border-radius: 0;
        &:hover{
            box-shadow: inset 0px  1px #1DA1F2;
            div {
                background-color: #fff;
            }
        }
    }
}
.active-login {
    box-shadow: inset 0px  1px #1DA1F2;

}