@import '../../../../styles/_variables.scss';
.admin-add-tests {
    form {
        display: flex;
        flex-direction: column;
    }
    input {
        height: 40px;
        padding: 0 10px;
    }
    button {
        height: 40px;
        background-color: $admin_main_color;
        border: none;
        color: #fff;
        margin-top: 20px;
        cursor: pointer;
        transition: .3s;
        &:hover {
            background-color: #4b5373;
        }
        &:active {
            background-color: #0F1018;
        }
    }
}