<div class="admin-add-tests">
  <form [formGroup]="form" (submit)="addTestsSubmit($event, addTests.value)" #addTests="ngForm"
        class="admin-add-tests-body" novalidate>
    <input type="text" formControlName=nameOfTest name=nameOfTest placeholder="Название теста">
    <p>Form value: {{ form.value | json }}</p>
    <p>Form status: {{ form.status | json }}</p>
    <div class="alert_invalid"
         *ngIf="!form.controls['nameOfTest'].valid && (form.controls['nameOfTest'].touched || addTests.submitted)">
      <p *ngIf="form.controls['nameOfTest'].hasError('required')">Input field required</p>
    </div>
    <button type="submit" [disabled]="!form.valid">Добавить тест</button>
  </form>
</div>
