<header>
    <div class="grid header-grid" data-grid="none center middle">
        <div class="grid__item" data-grid="4/12">
            <div class="header-logo">
                logo
            </div>
        </div>
        <div class="grid__item" data-grid="4/12 ">
            <div class="header-username">
                username
            </div>
        </div>
    </div>
</header>

<section class="s-question">
    <div class="grid" data-grid="center none">
        <div class="grid__item" data-grid="8/12">
            <h2>Name of test</h2>
            <div  *ngFor="let item of items | async"  class="s-question_body">
                <div class="s-question_title">
                   {{item.question}}
                </div>
                <div class="grid s-question_list" data-grid="center none">
                    <div class="grid__item" data-grid="3/12">
                        <div class="s-question_item">
                            {{item.answers.a1}}
                        </div>
                    </div>
                    <div class="grid__item" data-grid="3/12">
                        <div class="s-question_item">
                            {{item.answers.a2}}
                        </div>
                    </div>
                    <div class="grid__item" data-grid="3/12">
                        <div class="s-question_item">
                            {{item.answers.a3}}
                        </div>
                    </div>
                    <div class="grid__item" data-grid="3/12">
                        <div class="s-question_item">
                            {{item.answers.a4}}                        </div>
                    </div>
                </div>
                <div class="grid s-question_list" data-grid="center none">
                    <div class="grid__item" data-grid="3/12">
                        <button class="s-question_submit">
                            Answer
                        </button>
                    </div>
                </div>

                <div *ngFor="let item of items | async">



                </div>
                <!-- 

                <ul class="s-question_answers">
                    <li>121</li>
                    <li>222222222</li>
                    <li>33</li>
                    <li>44</li>
                </ul> -->
            </div>
        </div>
    </div>
</section>

<footer>
    <span>&copy; 2017 footer Light-It</span>
</footer>