<form class="update-form" [formGroup]="updateForm" (submit)="updateQuestionsTest($event, data, updateTests.value)"
      #updateTests="ngForm">
  {{data | json}}
  <textarea type="text" formControlName='question' placeholder="Вопрос"></textarea>
  <div>Ответы:</div>
  <div formArrayName="answers" class="well well-lg">
    <div *ngFor="let ans of answers.controls; let i=index" [formGroupName]="i">
      <input type="text" formControlName='answer' placeholder="Ответ {{i + 1}}">
      <input type="radio" formControlName='correct_answer' id="{{i + 1}}" name="correct_answer"
             (click)="checkCheckbox($event, i+1)"/>
      <label for="{{i + 1}}"><span>{{i + 1}}</span></label>
    </div>
  </div>
  <button (click)="addDynamicAnswerInForm()" type="button">+</button>
  <button (click)="deleteDynamicAnswerInForm()" type="button">-</button>
  <button type="submit">Следующий вопрос</button>
</form>
