@import '../../../styles/_variables.scss';

.s-question {
  background-color: $light_color;
  &-onemore {
    display: flex;
    background-color: $main-color;
    color: #fff;
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    width: 180px;
  }
}
