.s-admin{
    padding-bottom: 70px;

    &-header {
        width: 100%;
        text-align: center;
    }
    &-header-count {
        margin-top: 20px;
    }
    &-body {
        text-align: center;
        margin-top: 40px;
    }
    &-best,
    &-easy,
    &-hard {
        div {
            margin-bottom: 20px;
        }
    }
    .spinner {
        display: flex;
        align-self: center;
        margin-top: 100px;
    }
    &-charts {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

