<q-header></q-header>


<section class="s-admin">
    <div class="grid" data-grid="center">
        <div class="grid__item" data-grid="8/12"> Количество пользователей: 12 </div>
        <div class="grid__item" data-grid="8/12">
            <div class="grid" data-grid="center">

                <div class="grid__item" data-grid="6/12">
                    <div class="s-admin-header">Статистика: </div>
                </div>
            </div>


            <div class="s-admin-body">

                <div class="grid" data-grid="center">

                    <div class="grid__item" data-grid="4/12">
                        <div class="s-admin-best">
                            <div>Лучшая оценка</div>
                            <div>1</div>
                        </div>
                    </div>
                    <div class="grid__item" data-grid="4/12">
                        <div class="s-admin-easy">
                            <div>Самые лёгкие вопросы</div>
                            <div>{{easyQuestion}}</div>
                        </div>
                    </div>
                    <div class="grid__item" data-grid="4/12">
                        <div class="s-admin-hard">
                            <div>Самые сложные вопросы</div>
                            <div>{{hardQuestion}}</div>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <div style="display: block">
                    <canvas *ngIf="barChartData" baseChart [datasets]="barChartData" [labels]="barChartLabels" [colors]="barChartColor" [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType" (chartHover)="chartHovered($event)" ></canvas>
                </div>
                    
            </div>


        </div>
    </div>
</section>
























<q-footer></q-footer>