<header>
  <div class="grid header-grid" data-grid="none between middle">
    <div class="grid__item" data-grid="6/12">
      <div class="header-look">
        <a routerLink="/">К просмотру приложения</a>
      </div>
    </div>
    <div class="grid__item" data-grid="6/12 right">
      <div *ngIf="loggedInUser" class="header-username-wrp">
        <div class="header-username">
          User: {{user?.name}}
        </div>
      </div>
    </div>
  </div>
</header>
<article class="s-admin-wrapper">
  <aside class="s-admin-sidebar">
    <nav class="s-admin-main-menu">
      <ul>
        <li><a routerLink="./" routerLinkActive="admin-active-button" [routerLinkActiveOptions]="{exact:true}">Статистика</a></li>
        <li><a routerLink="create-tests" routerLinkActive="admin-active-button">Созадание тестов</a></li>
      </ul>
    </nav>
  </aside>
  <router-outlet></router-outlet>
</article>
