@import '../../../styles/_variables.scss';

.s-question {
    padding-top: 20px;
    h2 {
        font-size: 22px;
        text-align: center;
    }
    &_title {
        width: calc( 100% - 80px );
        padding: 40px 40px;
        background-color: #363E41;
        text-align: center;
        color: #fff;
    }
    &_list {
        background-color: #363E41;
        color: #fff;
    }
    &_item {
        text-align: center;
        padding: 10px 10px;
        min-height: 40px;
    }
    &_submit {
        width: 100%;
        height: 50px;
        border: 1px solid #fff;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 40px;
        background-color: $main-color;
        outline: none;
        &:hover {
            cursor: pointer;
            background-color: #4a4a4a;
        }
        &:active {
            background-color: #363E41;
        }
    }
}

