@import '../../../styles/_variables.scss';

@import "~bootstrap/dist/css/bootstrap.min.css";
.btn-outline-primary {
    border-color:  $main-color;
    color: $main-color;
    border-radius: 0;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: $main-color;
    }
}
