<header>
    <div class="grid header-grid" data-grid="none center middle">
        <div class="grid__item" data-grid="4/12">
            <div class="header-logo">
                logo
            </div>
        </div>
        <div class="grid__item" data-grid="4/12 ">
            <div class="header-username">
                username
            </div>
        </div>
    </div>
</header>

<section class="s-home">
    <div class="grid" data-grid="center">
        <div class="grid__item" data-grid="4/12">
            <div class="s-home_user">
                sd
            </div>
        </div>

        <div class="grid__item" data-grid="4/12">
            <div class="grid" data-grid="center none">
                <div class="grid__item" data-grid="6/12">
                    <div class="s-home_test">
                        <div class="s-home_test-img">
                            <img src="../../assets/img/stats.png" alt="">
                        </div>
                        <h3 class="s-home_test-descr">
                            Title test
                        </h3>
                        <div class="s-home_test-descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quaerat nam, ipsa.
                        </div>
                    </div>
                </div>
                <div class="grid__item" data-grid="6/12">
                    <div class="s-home_test">
                        <div class="s-home_test-img">
                            <img src="../../assets/img/calculator.png" alt="">
                        </div>
                        <h3 class="s-home_test-descr">
                            Title test
                        </h3>
                        <div class="s-home_test-descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quaerat nam, ipsa.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<footer>
    <span>&copy; 2017 footer Light-It</span>
</footer>