<form class="update-form" [formGroup]="updateForm" (submit)="updateQuestionsTest($event, data.$key, updateTests.value)" #updateTests="ngForm">
    <textarea type="text" formControlName='question' placeholder="Вопрос"></textarea>
    <div>Ответы</div>
    <div formGroupName="answer" class="update-form_group-answer">
        <input type="text"  formControlName='answer_1' placeholder="Ответ">
        <input type="text"  formControlName='answer_2' placeholder="Ответ">

    </div>
    <!-- <input type="text" formControlName='correct' placeholder="Верный"> -->

    <button type="button" (click)=pushToAnswers(updateTests.value)>Ещё ответ</button>

    <button type="button" (click)=pushToNewQuestions(updateTests.value)>Следующий вопрос</button>

    <button type="submit">Изменить тесты</button>
</form>