@import '../../../../styles/_variables.scss';
.update-form {
  display: flex;
  flex-direction: column;
  textarea {
    resize: none;
    padding: 10px;
    height: 60px;
    margin-bottom: 20px;
  }
  input[type=text] {
    height: 30px;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  &_group-answer {
    display: flex;
    flex-direction: column;
  }
}



input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 27px;
  cursor: pointer;
  padding: 0;
  margin: 0;  
  text-align: center;
  z-index: 1;
  span {   
    display: inline-block;
    margin-left: 2px;
  }
}
label::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  border: 2px solid $admin_main_color;
  border-radius: 4px;
  z-index: -1;
}
input[type="radio"] + label::before {
  border-radius: 18px;
}
/* Checked */
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  color: #fff;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: $admin_main_color;
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
